@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body, :root, html {
  font-family: "Inter", sans-serif, serif;
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

* {
  box-sizing: border-box;
  position: relative;
}

.container {
  margin: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu > a {
  color: white;
  text-decoration: none;
}
